DB_NETWORK_NAME=data-sync-network
DB_HOST=mariadb
DB_PORT=3306
DB_NAME=data_sync
DB_USER=<app-user>
DB_PASSWORD=<app-password>
CADDY_PUBLIC_IP=192.168.178.50
CADDY_HTTP_PORT=8088
CADDY_HTTPS_PORT=8443
